{% extends 'main.html' %}
{% load static %}
{% block title %} Update Member {%endblock %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<section class="form-container">
  <form method="post" class="update-form">
    {% csrf_token %}
    <h2 class="form-heading">Update Hobby for Head: {{ head.name }}</h2>
    {{ hobby_formset.management_form }}
    {% for form in hobby_formset %}
    <div class="member-row">
      {{ form.as_p }}
    </div>
    {% endfor %}
    <button type="submit" class="submitBtn">Save</button>
  </form>
</section>

<script src="{% static 'js/form.js' %}"></script>

{% endblock %}