{% extends 'base.html' %}
{% load static %}
{% block title %} Forgot Password {% endblock %}
{% block content %}

<div class="login-section">
  <nav class="navbar">
    <div class="logo">
      <img src="{% static 'images/logo.png' %}" alt="Logo">
    </div>
  </nav>
  <form method="POST">
    {% csrf_token %}
    <h2 class="heading">Forgot Password?</h2>
    <div class="email">
      <label>Email</label>
      <input type="email" required id="email" name="email">
      <span>
        {% if messages %}
        <div class="errorMsg">
          {% for message in messages %} {{ message }} {% endfor %}
        </div>
        {% endif %}
      </span>
    </div>

    <input type="submit" value="Reset Password" class="resetBtn">

    <div class="passMsg">
      <p>Remember your Password? <a href="{% url 'login_page' %}">Login Here</a></p>
    </div>
  </form>
</div>

{% endblock %}