{% extends 'base.html' %}
{% block title %} Forgot Password {% endblock %}
{% block content %}

<div class="container">
  <h2 class="heading">Forgot Password?</h2>
  
  <form method="POST">
    {% csrf_token %}

    <div class="email">
      <label>Email</label>
      <input type="email" required id="email" name="email">
      <span>
        {% if messages %}
        <div class="errorMsg">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
        {% endif %}
      </span>
    </div>

    <input type="submit" value="Reset Password" class="btn">
  
    <div class="forgotMsg">
      <p>Remember your Password? <a href="{% url 'login_page' %}">Login Here</a></p>
    </div>

  </form>
</div>

{% endblock %}
