{% extends 'base.html' %}
{% load static %}

{% block title %} Reset Password {% endblock %}

{% block content %}

<div class="login-section">
  <nav class="navbar">
    <div class="logo">
      <img src="{% static 'images/logo.png' %}" alt="Logo">
    </div>
  </nav>
    
    <form method="POST">
        {% csrf_token %}
        <h2 class="heading">Reset Password</h2>
        <div class="password">
            <label for="password">Password</label>
            <input type="password" name="password" id="password"/>
            <span></span>
        </div>

        <div class="password">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" id="password"/>
            <span></span>
        </div>

        <span>
            {% if messages %}
            <div class="errorMsg">
                {% for message in messages %} {{ message }} {% endfor %}
            </div>
            {% endif %}
        </span>
        

        <input type="submit" value="Reset Password" class="resetBtn" />

        <div class="passMsg">Remember your password?
            <a href="{% url 'login_page' %}">Login</a>
        </div>
    </form>
</div>

{% endblock %}