{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="nav__header">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
            </div>
            <div class="nav_menu_btn" id="menu-btn">
                <img src="{% static 'images/menu.png' %}" alt="Menu" onclick="toggleMenu()">
            </div>
        </div>
        <!-- <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </div> -->
        <div class="nav-list">
            <a href="{% url 'dashboard' %}" class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">Dashboard</a>
            <a href="{% url 'family_list' %}" class="{% if request.resolver_match.url_name == 'family_list' %}active{% endif %}">Manage Families</a>
            <a href="{% url 'state_list' %}" class="{% if request.resolver_match.url_name == 'state_list' %}active{% endif %}">Manage States</a>
            <a href="{% url 'city_list' %}" class="{% if request.resolver_match.url_name == 'city_list' %}active{% endif %}">Manage Cities</a>
            <button class="logoutBtn"><a href="{% url 'logout_page' %}">Logout</a></button>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    <footer>
        <div class="footer__bar">
            Copyright © 2025 FamTree. All rights reserved.
        </div>
    </footer>
</body>
<script>
    function toggleMenu()
    {
        const nav = document.querySelector(".nav-list");
        console.log(nav)
        nav.classList.toggle('active');
    
    }
</script>
</html>