<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Add html2pdf library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>
</head>
<body>
    <h1>City List</h1>
    <div class="search-container">
        <form action="">
            <div class="search-bar">
                <label for="search">Search Here</label>
                <input name="search" id="search" type="text">
            </div>
            <button type="submit" class="search-btn">Search</button>
        </form>
    </div>
    <div>
        {% if not page_obj.object_list %}
            <p>Not result found</p>
        {% endif %}
    </div>
    <hr>
    <a href="{% url 'create_city' %}">Create city</a>
    
    <hr>
    <div class="city-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>State</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for city in page_obj.object_list %}
                <tr>
                    <td>{{ city.id }}</td>
                    <td>{{ city.city_name }}</td>
                    <td>{{ city.state }}</td>
                    <td>{{ city.status }}</td>
                    <td><a href="{% url 'update_city' city.id %}">Edit</a></td>
                    <td><a href="{% url 'delete_city' city.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-danger  generate-pdf-btn" onclick="generatePDF()">Generate PDF</button>
    </div>
    <div>
        {%if page_obj.has_previous %} 
            <button type="button"><a href="city_list?page=1">First</a></button> 
            <button type="button"><a href="?page={{page_obj.previous_page_number}}"> Previous</a></button>
        {% endif %}

        <button type="button">{{page_obj.number}}</button>
        <!-- {% for n in totalPagelist %}
            <button type="button"><a href="city_list?page={{n}}">{{n}}</a></button>
        {% endfor %} -->
      
        {%if page_obj.has_next %} 
            <button type="button"><a href="?page={{page_obj.next_page_number}}">Next</a></button>
            <button type="button"><a href="?page={{ lastPage }}">Last</a></button>
        {% endif %}
    </div>

    <script>
        function generatePDF() {
            var element = document.querySelector('.city-container');
            html2pdf(element);
        }
    </script>

   <br>
</body>
</html>