{% extends 'main.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<section class="state-list">
    <div class="state-header">
        <h1>City List</h1>
        <div class="statedownloadBtn">
            <img src="{% static 'images/download.png' %}" alt="Download">
            <a href="{% url 'city_excel' %}"> Excel</a>
        </div>
    </div>
    <div class="header">
        <div class="add-family">
            <p>Want to Add New City?
                <a href="{% url 'create_city' %}">Click Here</a>
            </p>
        </div>
        <div class="search-container">
            <form action="">
                <div class="search-bar">
                    <input name="search" id="search" type="text" placeholder="Search Here">
                    <img src="{% static 'images/search.png' %}" alt="">
                </div>
            </form>
        </div>
    </div>

    <div class="search-result">
        {% if not page_obj.object_list %}
        <p>No result found</p>
        {% endif %}
    </div>
    
    <section class="table-section">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>State</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for city in page_obj.object_list %}
                <tr>
                    <td>{{ city.id }}</td>
                    <td>{{ city.city_name }}</td>
                    <td>{{ city.state }}</td>
                    <td>{{ city.status }}</td>
                    <td>
                        <a href="{% url 'update_city' city.id %}"><img src="{% static 'images/edit.png' %}"
                                alt="Edit"></a>
                        <a href="{% url 'delete_city' city.id %}" onclick="return confirm('Are you sure you want to Delete {{city}}?')"><img src="{% static 'images/delete.png' %}"
                                alt="Delete"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    
    
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="page-link">First</a>
        <a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a>
        {% endif %}

        <a href="?page={{page_obj.number}}" class="page-link active">{{page_obj.number}}</a>

        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a>
        <a href="?page={{ lastPage }}" class="page-link">Last</a>
        {% endif %}
    </div>

</section>
{% if messages %}
{% for message in messages %}
  <script>
    alert("{{ message }}");
  </script>
    {% endfor %}
{% endif %}

{% endblock %}