{% load static %}

<section class="table-section">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>State</th>
                <th>Status</th>
                <th>Action</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for city in page_obj.object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ city.city_name }}</td>
                <td>{{ city.state }}</td>
                <td>{{ city.status }}</td>
                <td>
                    <a href="{% url 'update_city' city.id %}"><img src="{% static 'images/edit.png' %}" alt="Edit"></a>
                    <a href="{% url 'delete_city' city.id %}" onclick="return confirm('Are you sure you want to Delete {{city}}?')"><img src="{% static 'images/delete.png' %}" alt="Delete"></a>
                </td>
                <td>{{ city.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<div class="search-result">
    {% if not page_obj.object_list %}
    <p>No result found</p>
    {% endif %}
</div>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="{% if request.GET.search %}?search={{request.GET.search}}&page=1{% else %}?page=1{% endif %}" class="page-link">First</a>
        <a href="{% if request.GET.search %}?search={{request.GET.search}}&page={{page_obj.previous_page_number}}{% else %}?page={{page_obj.previous_page_number}}{% endif %}" class="page-link">Previous</a>
    {% endif %}

    {% for n in totalPagelist %}
        <a href="{% if request.GET.search %}?search={{request.GET.search}}&page={{n}}{% else %}?page={{n}}{% endif %}" class="page-link {% if page_obj.number == n %}active{% endif %}">{{n}}</a>
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="{% if request.GET.search %}?search={{request.GET.search}}&page={{page_obj.next_page_number}}{% else %}?page={{page_obj.next_page_number}}{% endif %}" class="page-link">Next</a>
        <a href="{% if request.GET.search %}?search={{request.GET.search}}&page={{ lastPage }}{% else %}?page={{ lastPage }}{% endif %}" class="page-link">Last</a>
    {% endif %}
</div>

