{% extends 'main.html' %}
{% load static %}
{% block title %} Create State {%endblock %}
{% block content %}
<section class="form-container">
  <form method="post" class="add-form">
    {% csrf_token %}
    <h1 class="form-heading">Create State</h1>
    <div>
      {{ state_form.state_name.label_tag }}
      {{ state_form.state_name }}
      <span class="errorMsg">{{ state_form.state_name.errors }}</span>
    </div>
    <button type="submit" class="submitBtn">Submit</button>
    <!-- {{ state_form.non_field_errors }} -->
  </form>
</section>
{% endblock %}