{% load static %}
<section class="table-section">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Action</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for state in page_obj.object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ state.state_name }}</td>
                <td>{{ state.status }}</td>
                <td>
                    <a href="{% url 'update_state' hashid=state.hashid %}"><img src="{% static 'images/edit.png' %}"
                            alt="Edit"></a>
                    <a href="#" onclick="confirmDelete(`{% url 'delete_state' hashid=state.hashid %}`)"><img
                            src="{% static 'images/delete.png' %}" alt="Delete"></a>
                </td>
                <td>{{ state.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<div class="search-result">
    {% if not page_obj.object_list %}
    <p>No Result Found.</p>
    {% endif %}
</div>

<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="{% if request.GET.search %}?search={{request.GET.search}}&page=1{% else %}?page=1{% endif %}"
        class="page-link">First</a>
    <a href="{% if request.GET.search %}?search={{request.GET.search}}&page={{page_obj.previous_page_number}}{% else %}?page={{page_obj.previous_page_number}}{% endif %}"
        class="page-link">Previous</a>
    {% endif %}

    {% for n in totalPagelist %}
    <a href="{% if request.GET.search %}?search={{request.GET.search}}&page={{n}}{% else %}?page={{n}}{% endif %}"
        class="page-link {% if page_obj.number == n %}active{% endif %}">{{n}}</a>
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="{% if request.GET.search %}?search={{request.GET.search}}&page={{page_obj.next_page_number}}{% else %}?page={{page_obj.next_page_number}}{% endif %}"
        class="page-link">Next</a>
    <a href="{% if request.GET.search %}?search={{request.GET.search}}&page={{ lastPage }}{% else %}?page={{ lastPage }}{% endif %}"
        class="page-link">Last</a>
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/state_list.js' %}"></script>
