{% extends 'main.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<section class="state-list">
    <h1>State List</h1>
    <div class="header">
        <div class="add-family">
            <p>Want to Add New State?
                <a href="{% url 'create_state' %}">Click Here</a>
            </p>
        </div>
        <div class="search-container">
            <form action="">
                <div class="search-bar">
                    <input name="search" id="search" type="text" placeholder="Search Here">
                    <img src="{% static 'images/search.png' %}" alt="">
                </div>
            </form>
        </div>
    </div>

    <div class="search-result">
        {% if not page_obj.object_list %}
        <p>No result found</p>
        {% endif %}
    </div>

    <section class="table-section">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for state in page_obj.object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ state.state_name }}</td>
                    <td>{{ state.status }}</td>
                    <td>
                        <a href="{% url 'update_state' state.id %}"><img src="{% static 'images/edit.png' %}"
                                alt="Edit"></a>
                        <a href="{% url 'delete_state' state.id %}" onclick="return confirm('Are you sure you want to Delete {{state}} ? Cities within {{state}} will also get deleted.')"><img src="{% static 'images/delete.png' %}"
                                alt="Delete"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <a href="{% url 'state_excel' %}">Download Excel</a>
    
    
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="page-link">First</a>
        <a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a>
        {% endif %}

        {% for n in totalPagelist %}
        <a href="?page={{n}}" class="page-link {% if page_obj.number == n %}active{% endif %}">{{n}}</a>
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a>
        <a href="?page={{ lastPage }}" class="page-link">Last</a>
        {% endif %}
    </div>

</section>
{% if messages %}
    {% for message in messages %}
    <script>
        alert("{{ message }}");
    </script>
    {% endfor %}
{% endif %}

{% endblock %}