{% extends 'main.html' %}
{% load static %}
{% block title %} Update State {%endblock %}
{% block content %}
<section class="form-container">
  <form method="post" class="add-form">
    {% csrf_token %}
    <h1 class="form-heading">Update State</h1>
    <div>
      {{ state_form.state_name.label_tag }} 
      {{ state_form.state_name }}
      <span class="errorMsg"> {{ state_form.state_name.errors }}</span>
    </div>
    <div>
      {{ state_form.status.label_tag }} 
      {{ state_form.status }} 
      <span class="errorMsg">{{ state_form.status.errors }}</span>
    </div>
    <button type="submit" class="submitBtn">Submit</button>
  </form>
</section>
{% endblock %}
