{% extends 'main.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<section class="dash-section">
    <div class="familyCard">
        <p class="totalHeading">Total Families</p>
        <div>
            <p class="numCount">{{ heads.count }}</p>
            <a href="{% url 'family_list' %}"><img src="{% static 'images/arrow_outward.png' %}" alt="family"></a>
        </div>
    </div>
    <div class="memberCard">
        <p class="totalHeading">Total Members</p>
        <div>
            <p class="numCount">{{ members.count }}</p>
            <a href="{% url 'family_list' %}"><img src="{% static 'images/arrow_outward.png' %}" alt="family"></a>
        </div>
    </div>
    <div class="stateCard">
        <p class="totalHeading"> Total States</p>
        <div>
            <p class="numCount">{{ states.count }}</p>
            <a href="{% url 'state_list' %}"><img src="{% static 'images/arrow_outward.png' %}" alt="family"></a>
        </div>
    </div>
    <div class="cityCard">
        <p class="totalHeading"> Total Cities</p>
        <div>
            <p class="numCount">{{ cities.count }}</p>
            <a href="{% url 'city_list' %}"><img src="{% static 'images/arrow_outward.png' %}" alt="family"></a>
        </div>
    </div>
</section>
<section class="chart-section">
    <div class="chart"><canvas id="myChart"></canvas></div>
    <div class="chart"><canvas id="Chart2"></canvas></div>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
    var data = JSON.parse('{{ json_data | safe }}');
    console.log(data)
    var xValues = data.map(item => item.state_name);
    var yValues = data.map(item => item.total);
    var barColors = ["#b91d47", "#00aba9","#2b5797", "#e8c3b9", "#1e7145"];

    new Chart("myChart", {
        type: "pie",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            title: {
                display: true,
                text: "Total Families Per State"
            }
        }
    });

    var active_states = JSON.parse('{{ active_states | safe }}');
    var inactive_states = JSON.parse('{{ inactive_states | safe }}');
    var x = ['active_states', 'inactive_states'];
    var y = [active_states, inactive_states];
    console.log(y)
    var Colors = ["#e8c3b9", "#b91d47"];

    console.log(active_states);

    new Chart("Chart2", {
        type: "doughnut",
        data: {
            labels: x,
            datasets: [{
                backgroundColor: Colors,
                data: y
            }]
        },
        options: {
            title: {
                display: true,
                text: "Active and Inactive State"
            }
        }
    });
</script>
{% endblock %}