<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Family List</h1>
    <a href="{% url 'family_form' %}">Create Family</a>
    <hr>
    <div class="search-container">
        <form action="">
            <div class="search-bar">
                <label for="search">Search Here</label>
                <input name="search" id="search" type="text">
            </div>
            <button type="submit" class="search-btn">Search</button>
        </form>
    </div>
    <div>
        {% if not page_obj.object_list %}
            <p>Not result found</p>
        {% endif %}
    </div>
    <div>
        {% for head in page_obj.object_list %}
        <div>
            <a href="{% url 'view_family' head.id %}">View</a>
            <p>{{ head.id }} -- {{ head.name }} </p>
            <a href="{% url 'delete_family' head.id %}">Delete</a>
            <hr>
        </div>
        {% endfor %}
    </div>
    <div>
        {%if page_obj.has_previous %}
        <button type="button"><a href="family_list?page=1">First</a></button>
        <button type="button"><a href="?page={{page_obj.previous_page_number}}"> Previous</a></button>
        {% endif %}

        <!-- <span>{{page_obj.number}}</span> -->
        {% for n in totalPagelist %}
        <button type="button"><a href="family_list?page={{n}}">{{n}}</a></button>

        {% endfor %}

        {%if page_obj.has_next %}
        <button type="button"><a href="?page={{page_obj.next_page_number}}">Next</a></button>
        <button type="button"><a href="?page={{ lastPage }}">Last</a></button>
        {% endif %}
    </div>

    <br>
    <br><br>
</body>

</html>