{% extends 'main.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<section class="family-list">
    <div class="state-header">
        <h1>Family List</h1>
        <div class="statedownloadBtn">
            <a href="{% url 'head_excel' %}" id="excelURL"> <img src="{% static 'images/download.png' %}" alt="Download"> Excel</a>
        </div>
    </div>

    <div class="header">
        <div class="add-family">
            <p>Want to Add New Family?
                <a href="{% url 'family_form' %}">Click Here</a>
            </p>
        </div>
        <div class="search-container">
            <form action="" id="search-form">
                <div class="search-bar">
                    <input name="search" id="search" type="text" placeholder="Search Here">
                    <img src="{% static 'images/search.png' %}" alt="">
                </div>
            </form>
        </div>
    </div>

    <div id="ajax-table">
        {% include 'list_template.html' %}
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/family_list.js' %}"></script>

{% endblock %}

