{% load static %}

<section class="table-section">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Mobile No.</th>
                <th>State</th>
                <th>City</th>
                <th>Members</th>
                <th>Actions</th>
                <th>Created At</th>
                <!-- <th>Updated At</th> -->
            </tr>
        </thead>
        <tbody>
            {% for head in page_obj.object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ head.name }}</td>
                <td>{{ head.surname }}</td>
                <td>{{ head.mobno }}</td>
                <td>{{ head.state }}</td>
                <td>{{ head.city.city_name }}</td>
                <td>{{ head.member_count }}</td>
                <td>
                    <a href="{% url 'view_family' hashid=head.hashid %}"><img src="{% static 'images/visibility.png' %}" alt="View"></a>
                    <a href="{% url 'update_family' hashid=head.hashid %}"><img src="{% static 'images/edit.png' %}" alt="Edit"></a></a>
                    <a href="#" onclick="confirmDelete(`{% url 'delete_family' hashid=head.hashid %}`)" alt="Delete"><img src="{% static 'images/delete.png' %}" alt="Delete"></a>
                </td>
                <td>{{ head.created_at }}</td>
                <!-- <td>{{ head.updated_at }}</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<div class="search-result">
    {% if not page_obj.object_list %}
        <p>No Result Found.</p>
    {% endif %}
</div>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="{% if request.GET.search %}?search={{request.GET.search}}&page=1{% else %}?page=1{% endif %}" class="page-link">First</a>
        <a href="{% if request.GET.search %}?search={{request.GET.search}}&page={{page_obj.previous_page_number}}{% else %}?page={{page_obj.previous_page_number}}{% endif %}" class="page-link">Previous</a>
    {% endif %}

    {% for n in totalPagelist %}
        <a href="{% if request.GET.search %}?search={{request.GET.search}}&page={{n}}{% else %}?page={{n}}{% endif %}" class="page-link {% if page_obj.number == n %}active{% endif %}">{{n}}</a>
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="{% if request.GET.search %}?search={{request.GET.search}}&page={{page_obj.next_page_number}}{% else %}?page={{page_obj.next_page_number}}{% endif %}" class="page-link">Next</a>
        <a href="{% if request.GET.search %}?search={{request.GET.search}}&page={{ lastPage }}{% else %}?page={{ lastPage }}{% endif %}" class="page-link">Last</a>
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/delete_family.js' %}"></script>


