{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <form method="post">
    {% csrf_token %}
    <h2>head: {{ head.name }}</h2>
    <h3>Members:</h3>
    {{ member_formset.management_form }}
    {% for form in member_formset %}
      {{ form.as_p }}
      <hr>
    {% endfor %}
        <!-- <h3>Members</h3>
        {{ member_formset.management_form }}
        <div id="member-container">
            {% for form in member_formset %}
            <div class="member-row">
                <div class="memnameDiv">
                    {{ form.member_name.label_tag }} {{ form.member_name }}
                    <span class="errorMsg">{{ form.member_name.errors }}</span>
                </div>
                <div class="mem_dodDiv">
                    {{ form.member_dob.label_tag }} {{ form.member_dob }}
                    <span class="errorMsg">{{ form.member_dob.errors }}</span>
                </div>
                <div class="mem_msDiv">
                    {{ form.member_marital.label_tag }} {{ form.member_marital }}
                    <span class="errorMsg">{{ form.member_marital.errors }}</span>
                </div>
                <div class="member-wed" style="display:none">
                    {{ form.member_wedDate.label_tag }} {{ form.member_wedDate }}
                    <span class="errorMsg">{{ form.member_wedDate.errors }}</span>
                </div>
                <div class="educationDiv">
                    {{ form.education.label_tag }} {{ form.education }}
                    <span class="errorMsg">{{ form.education.errors }}</span>
                </div>
                <div class="mem_photDiv">
                    {{ form.member_photo.label_tag }} {{ form.member_photo }}
                    <span class="errorMsg">{{ form.member_photo.errors }}</span>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <button type="button" id="addMember">+ Add Member</button>
     -->
    <button type="submit">Save</button>
    <script>
        // $('#id_member_wedDate').hide();
        $('input[type="radio"][name$="member_marital"]').on('change', function () {
        if ($(this).val().toLowerCase() === "married") {
            $('input[name$="member_wedDate"]').show();
        } else {
            $('input[name$="member_wedDate"]').hide();
            $('input[name$="member_wedDate"]').val('');
        }
    }); 
    </script>
  </form>
</body>
</html>