{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Family Form</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/familystyle.css' %}" />
</head>

<body>
  <h1>Registration Form</h1>
  <div class="form-container">

    <form id="familyForm" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h2>Family Head</h2>
      <div class="head-container">
        
          {{ head_form.as_p }}

        <!-- <h3>Hobbies</h3> -->
        {{ hobby_formset.management_form }}
        <div id="hobby-container">
          <h2 class="form-heading">Update Hobby for Head: {{ head.name }}</h2>
          {% for form in hobby_formset %}
          <div class="member-row">
            {{ form.id }} 
            {{ form.as_p }}
          </div>
          {% endfor %}
        </div>
        <button type="button" id="addHobby">+ Add Hobby</button>
      </div>


      <h3>Members</h3>
      {{ member_formset.management_form }}
      <div id="member-container">
        <h2 class="form-heading">Update Member for Head: {{ head.name }}</h2>
          {% for form in member_formset %}
            <div class="member-row">
              {{ form.id }} 
                {{ form.as_p }}
            </div>
          {% endfor %}
      </div>
      <button type="button" id="addMember">+ Add Member</button>

      {{ head_form.non_field_errors }}
      {{ hobby_formset.non_form_errors }}
      {{ hobby_formset.non_field_errors }}

      {{ member_formset.non_field_errors }}

      <button type="submit" class="submitBtn">Submit</button>
    </form>
  </div>
  <script src="{% static 'js/form.js' %}"></script>
  <script src="{% static 'js/statecity.js' %}"></script>
  <script src="{% static 'js/formValidation.js' %}"></script>

</body>

</html>